<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>
            <center>Login</center>
        </h2>
        <hr>
        <label for="email">
            Email
        </label>
        <input type="email" class="form-control" id="email" ng-model="data.email">
        <br>
        <label for="password">
            Password
        </label>
        <input type="password" class="form-control" id="password" ng-model="data.password">
        <br>
        <button class="btn btn-success form-control" ng-click="login()">
            Login
        </button>
    </div>
</div>
