<div class="container">
    <div ng-repeat="(id, post) in posts" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ post.title }} @ {{ post.updated | date : 'medium' }}</div>
                <div class="panel-body">
                    {{ post.description }}
                    <br>
                    <a href="#/post/{{ id }}">
                        Click me to view post
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
