<div class="row">
    <div infinite-scroll="scroll.next(30)" infinite-scroll-distance="1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Created</td>
                    <td>Updated</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td>{{ post.title }}</td>
                    <td>{{ post.created | date : 'short' }}</td>
                    <td>{{ post.updated | date : 'short' }}</td>
                    <td><a class="btn btn-success form-control" href="#/edit-post/{{ post.$id }}">edit</a></td>
                    <td><button class="btn btn-danger form-control" ng-click="delete($index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
