<div class="row">
    <div infinite-scroll="scroll.next(30)" infinite-scroll-distance="1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Location</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="page in pages">
                    <td>{{ page.$id }}</td>
                    <td><a class="btn btn-success form-control" href="#/edit-page/{{ page.$id }}">coming soon</a></td>
                    <td><button class="btn btn-danger form-control" ng-click="delete($index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
